@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
img {
  border: 0;
  vertical-align: middle;
}
/* 전체 레이아웃 */
.wrap {
  width: 1200px;
  margin: 0 auto;
  background-color: aliceblue;
}
/* 상단 */
.header {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
  background-color: aqua;
}
/* 로고 */
.logo {
  width: 200px;
  height: 100%;
  background-color: rgb(164, 209, 248);
  padding: 30px 10px;
}
.logo img {
  width: 100%;
}
/* 메뉴 */
.menu {
  position: relative;
  width: calc(100% - 200px);
  background-color: rgb(200, 158, 239);
}
.navi {
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background-color: rgb(155, 155, 240);
}
.navi > li {
  position: relative;
  width: calc(100% / 4);
  text-align: center;
}
.navi > li > a {
  padding: 10px 0;
}
.navi > li:hover a {
  background-color: rgb(56, 56, 250);
}
/* 서브메뉴 */
.submenu {
  width: 100%;
  position: absolute;
  top: 44px;
  left: 0;
  display: none;
  background-color: cadetblue;
  z-index: 1;
}
.submenu > li > a {
  padding: 10px 0;
}
.submenu > li:hover > a {
  background-color: rgb(25, 162, 167);
}
/* 메인메뉴 호버시 서브메뉴 보임 */
.navi > li:hover .submenu {
  display: block;
}
.main{
    position: relative;
    width: 100%;
    height: 500px
}
/* 이미지 슬라이드 */
.img-slide {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: red;
}
.img-slide a {
  position: relative;
}
.img-slide a img {
  width: 100%;
}
/* contents */
.contents {
    /* position: relative; */
    display: flex;
    width: 100%;
    height: 200px;
    background-color: burlywood;
}
/* tapmenu */
.tapmenu {
    /* position: relative; */
    display: flex;
    width: 400px;
    height: 100%;
    padding: 10px 0;
    background-color: aqua;
}
.tapmenu div {
    width: calc(100% / 3);
    display: flex;
    /* position: absolute; */
    width: 100%;
}
.tapmenu > div > a {
    position: relative;
    width: 100px;
    padding: 5px 0;
    background-color: #fff;
    text-align: center;
}