@import url("reset.css");
body {
  background: url("../images/bg0.jpg") no-repeat;
  background-size: cover;
}
h1 {
  display: none;
}
h2 {
  display: none;
}
h3 {
  display: none;
}
/* 1200px */
@media (max-width: 1200px) {
  body {
    background: url("../images/bg1.jpg") no-repeat;
  }
  h1 {
    color: red;
    font-size: 70px;
    display: block;
  }
}
/* 1000px */
@media (max-width: 1000px) {
  body {
    background: url("../images/bg2.jpg") no-repeat;
  }
  
}
/* 768px (테블릿버전) */
@media (max-width: 768px) {
  body {
    background: url("../images/bg3.jpg") no-repeat;
  }
  h2 {
    display: block;
    color: brown;
    font-size: 50px;
  }
}
/* 480px */
@media (max-width: 480px) {
  body {
    background: url("../images/bg2.jpg") no-repeat;
  }
}
/* 390px */
@media (max-width: 390px) {
  body {
    background: url("../images/bg0.jpg") no-repeat;
  }
  h3 {
    display: block;
    color: blue;
    font-size: 24px;
  }
}
