@import url("reset.css");
/* 공통영역 */
.inner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  /* background-color: antiquewhite; */
}
/* 상단 */
.header {
  background-color: burlywood;
  height: 80px;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: aquamarine;
}
h1 {
  font-size: clamp(24px, 4vw, 36px);
}
/* pc버전에서 숨기기 */
.menu-btn {
  display: none;
}
.gnb {
  display: flex;
  gap: 20px;
}
/* 비주얼 */
.visual {
  position: relative;
  background-color: #ddd;
}
.visual img {
  
  /* position: absolute;
  top: 0;
  left: 0; */
}
.tablet-img{
    display: none;
}
.visual-inner {
  position: relative;
}
.visual-txt {
  position: absolute;
  top: -262px;
  left: 0;
  font-size: clamp(24px, 4vw, 70px);
  background-color: red;
}
.visual-txt p {
  font-size: clamp(18px, 2vw, 32px);
}
/* 상품 */
.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
}
.product-list li{
    width: calc((100% - 80px) / 5);
    background-color: #a1a0a0;
    padding: 40px;
}
/* 하단 */
footer{
    background-color: #333;
    color:  #aaa;
    padding: 50px 0;
}
footer .inner{
    display: flex;
    justify-content: space-between;

}
.footer-middle ul{
    display: flex;
    gap: 15px;
}
.footer-middle a{
    color: #aaa;
}
.footer-middle p{
    font-size: 12px;
    color: #919191;
    line-height: 2;
}