* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
/* nav */
nav {
  width: 100%;
  font-size: 13px;
  padding: 20px 8px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}
nav > a:hover {
  text-decoration: underline;
}
/* navIcon */
.navIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navICon-a {
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  transition: all 0.5s;
}
.navICon-a:hover {
  opacity: 1;
}
.navICon-a::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
}
.navICon-a:hover::after {
  opacity: 1;
}
.navICon-a::before {
  content: attr(aria-label);
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
  /* 글자 줄바꿈 방지 */
  white-space: nowrap;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: #222;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  color: #fff;
}
.navICon-a:hover::before {
  opacity: 1;
  visibility: visible;
}
.navICon-a svg {
  width: 100%;
}
/* login */
#login {
  padding: 3px 12px;
  color: #fff;
  border: 0;
  background-color: #4484f3;
  border-radius: 3px;
  cursor: pointer;
}
/* 메인 */
.main-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 171px;
}
.g-logo {
  /* mask-image : 이미지는 안보이고 모양만 남고 색으로 채워짐 */
  mask-image: url("../images/google_logo.svg");
  width: 272px;
  height: 92px;
  background-color: #ff5072;
}
/* 검색영역 */
.search_bar {
  width: 90%;
  max-width: 746px;
  min-width: 337px;
  padding: 10px 25px;

  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}
.left {
  display: flex;
  align-items: center;
  gap: 1%;
  width: 65%;
  background-color: #fff;
}
.left input {
  /* all: unset; */
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  /* max-width: 200px; */
  /* 한줄로 */
  white-space: nowrap;
  /* 넘치면 숨김 */
  overflow: hidden;
  /* ...표시 */
  text-overflow: ellipsis;
  /* background-color: red; */
}
.right {
  width: 27%;
  min-width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  /* background-color: aquamarine; */
}
.right a {
  width: 24px;
  margin-top: 3px;
}
.right a img {
  width: 100%;
  filter: brightness(0);
}
.ai-btn {
  all: unset;
  /* width: 93px; */
  display: flex;
  align-items: flex-end;
  gap: 5px;
  border-radius: 50px;
  background-color: #f3f5f6;
  padding: 4px 16px;
  cursor: pointer;
  border: 3px solid transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ai-btn:hover {
  animation: aiBorder 3s linear infinite;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(120deg, #ff6ec4, #7873f5, #4facfe, #43e97b, #ff6ec4)
      border-box;
  background-size: 400% 100%;
}
@keyframes aiBorder {
  to {
    background-position: 400% 0;
  }
}
.ai-btn img {
  display: block;
  width: 19px;
  filter: brightness(0);
}

@media (max-width: 670px) {
  .left input {
    /* 너비 반드시 설정!!! */
    max-width: 200px;
    /* 한줄로 */
    white-space: nowrap;
    /* 넘치면 숨김 */
    overflow: hidden;
    /* ...표시 */
    text-overflow: ellipsis;
  }
}

/* 바로가기 */
.search-plus {
  width: 100%;
  max-width: 1000px;
  min-width: 250px;
  /* background-color: #ff6ec4; */
}
.search-plus ul {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.search-plus li {
  position: relative;

  transition: all 0.3s;
}
.roundBox {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
}
.roundBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
#pigma {
  width: 70%;
}
#notion,
#pinterest,
#git {
  width: 100%;
}
#chat {
  width: 150%;
}
/* 바로가기 추가버튼 */
#plus {
  position: relative;
  background-color: #cee2ff;
}

#plus span {
  color: #123b88;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-plus a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  gap: 15px;
  z-index: 99;
}
/* more */
.more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  transition: all 0.3s;
}
.more img {
  position: absolute;
  right: 0;
  opacity: 0;
}
/* 호버했을때 */
.search-plus li:hover .more {
  opacity: 1;
}
.search-plus li:hover .more img {
  opacity: 1;
  transition: all 0.5s;
  /* 0.5초 뒤에 나타남 */
  transition-delay: 0.5s;
}
/* 검색버튼 */
.search-btn {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.search-btn button {
  border: 0;
  padding: 5px 15px;
  background-color: #f4f4f4;
}
.search-btn button:hover {
  color: #333;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
