* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  margin: 150px auto;
  width: 300px;
  height: 400px;
  padding: 100px;
  background: url("../images/notice.jpg") no-repeat center;
}

.container span{
    position: absolute;
    right: 0;
    top: -8px;
    cursor: pointer;
    font-weight: bold;
}