/* hero */

.hero {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: linear-gradient(135deg, #eef2ff, #f8f9fb);
}

.hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #666;
  margin-bottom: 40px;
}

.hero button {
  padding: 16px 32px;
  border: none;
  border-radius: 10px;

  background: royalblue;
  color: white;

  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: translateY(-3px);
}
