* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
.contents {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #222;
  border-radius: 5px;
}
/* 부모 안에 있는 모든 요소중에 n번째 자식요소 선택 */
.contents :nth-child(3) {
  background-color: yellow;
}
.contents :nth-child(5) {
  background-color: pink;
}
/* 부모안에 있는 A요소중에서 n번째 요소를 선택 */
.contents p:nth-of-type(4) {
  background-color: red;
}
/* 부모안에 있는 li 요소중에 n번째 자식요소를 선택 */
.navi ul li:nth-child(2) a {
  background-color: red;
  color: #fff;
}
/* 부모안에 li중에 첫번째 자식을 선택 */
.navi ul li:first-child {
  /* background-color: violet; */
}
/* 부모안에 li중에 마지막 자식을 선택 */
.navi ul li:last-child {
    /* background-color: aqua; */
}
/* 짝수 번째 열에만 스타일 적용 (even) */
.navi ul li:nth-last-of-type(2n){
    background-color: #333;
    color: #fff;
}
/* 홀수 번째 열에만 스타일 적용 (odd) */
.navi ul li:nth-last-of-type(2n +1){
    background-color: navajowhite;
}